<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>{{options.title}}</title>

	<meta name="description" content="">
	<meta name="generator" content="id-kss-node">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="kss-assets/kss.css">


</head>
<body id="id-kss-node" class="{{{template}}}">
<script type="text/javascript">
	//load the theme stylesheet as a variable to be used
	//by iframe.js to add stylesheets to each iframe example
	var themeStylesheetURL = '{{{options.css}}}';
	var exampleStylesheetURL = '{{{options.exampleStylesheetURL}}}';
	var themeScriptsURL = '{{{options.js}}}';
</script>


<!-- Debug -->
{{>builder-dev-output}}
<!-- /Debug -->


<!-- Header -->
{{>builder-header}}
<!-- /Header -->
<!-- Sidebar -->
{{>builder-sidebar}}
<!-- /Sidebar -->
<main class="id-kss-main" aria-label="Content">
	<article>
	{{#if template.isHomepage}}

		<!-- Homepage Template -->
		{{>builder-homepage}}
		<!-- /homepage -->

	{{else}}

	{{#if template.isItem}}

		{{!
			Display each section, in order.

			The "root" element comes first in this loop, and can be detected using
			the "#if @first" block as seen below.
		}}
		{{>builder-item }}
	{{/if}}

{{/if}}
</article>
</main>
<!-- SCRIPTS -->
<script src="kss-assets/kss.js"></script>
<script src="kss-assets/scrollspy.js"></script>
<script src="kss-assets/kss-fullscreen.js"></script>
<script src="kss-assets/kss-guides.js"></script>
<script src="kss-assets/kss-markup.js"></script>
<script src="kss-assets/kss-breakpoints.js"></script>
<script src="kss-assets/kss-sidebar.js"></script>
<script src="kss-assets/jquery.js"></script>
<script src="kss-assets/jquery-resizable.js"></script>
<script src="kss-assets/iframe.js"></script>
<script src="kss-assets/mark.min.js"></script>
<script src="kss-assets/kss-search.js"></script>

<script type="text/javascript">
	var spy = new ScrollSpy('#id-kss-node', {
		nav: '.id-kss-nav-menu-child > li > a',
		className: 'is-in-viewport'
	});
	var kssFullScreen = new KssFullScreen({
		idPrefix: 'id-kss-fullscreen-',
		bodyClass: 'id-kss-fullscreen-mode',
		elementClass: 'is-fullscreen'
	});
	var kssSidebar = new KssSidebar({
		bodyClass: 'id-kss-sidebar-open',
	});
	var kssGuides = new KssGuides({
		bodyClass: 'id-kss-guides-mode'
	});
	var kssBreakpoints = new KssBreakpoints({
		bodyClass: 'id-kss-breakpoint-xs'
	});
	var kssMarkup = new KssMarkup({
		bodyClass: 'id-kss-markup-mode',
		detailsClass: 'id-kss-markup'
	});
	var kssSearch = new KssSearch({
		inputID: 'kss-search-field',
		searchButtonID: 'kss-search-button',
    	searchAreaClass: '.id-homepage-nav'
	});

</script>

{{! This will only be included in the demo page. }}
{{#if options.demo}}
	<footer class="id-kss-github">
		<!-- https://github.com/blog/273-github-ribbons -->
		<a href="https://github.com/id-kss-node/id-kss-node"><img src="kss-assets/github-fork--black.png" alt="Fork me on GitHub"></a>
	</footer>
{{/if}}

<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
