<div class="id-kss-homepage">
	<div id="id-homepage-content" class="id-homepage-content">
		<h1>
			Welcome to {{options.title}}
		</h1>
		<h2 class="id-homepage-toc">
			Contents:
		</h2>
		<nav class="id-kss-toc">
			{{#each menu}}
				<a href="#kssref-{{referenceURI}}" class="id-kss-toc-link toc-section-{{referenceURI}}" data-section="{{referenceURI}}">{{header}}</a>
			{{/each}}
		</nav>
		{{#if homepage}}
		{{{homepage}}}
		{{else}}
		<!-- You can add a homepage.md file to show custom content here. -->
		{{/if}}

	</div>


	<nav id="id-homepage-nav" class="id-kss-nav id-homepage-nav" aria-label="Style Guide">
		<ul class="id-kss-nav-menu">
			{{#each (nestedMenu menu)}}
				{{> list-item }}
			{{/each}}
		</ul>
	</nav>
</div>