{{!
	Only output this item if it is not set as hidden
	this is useful so we can hide titles for sub categories or things we don't
	want visible yet
}}
{{#unless hidden}}
	<{{#if @first}}div{{else}}section{{/if}} id="kssref-{{referenceURI}}" class="id-kss-section id-kss-section--depth-{{depth}}">
		<div class="id-kss-style id-kss-component-content">
			<header class="id-kss-title-block">
				<h{{#ifEquals depth '1' }}1{{else}}2{{/ifEquals}} class="id-kss-title id-kss-title--level-{{depth}} {{#if is-subheader}}id-kss-title-subheader{{/if}}">

					{{#if is-subheader}}
					<span class="id-kss-title-section">{{splitTitle reference 1}}</span>
					{{else}}
					<span class="id-kss-title-section">{{splitTitle reference 2}}</span>
					{{/if}}

					<span class="id-kss-title-name">{{header}}<a class="id-kss-title__permalink" href="#kssref-{{referenceURI}}">Link</a></span>
				</h{{#ifEquals depth '1' }}1{{else}}2{{/ifEquals}}>
				{{#if status}}
					<span class="id-kss-status id-kss-status-{{{slug status}}}">
						{{status}}
					</span>
				{{/if}}

				{{#if is-header}}
					{{! do nothing}}
				{{else}}
					{{#if is-subheader}}
						{{! do nothing}}
					{{else}}

					{{/if}}
				{{/if}}

				<!--<span class="id-kss-title__ref">
					{{referenceNumber}}
					<span class="id-kss-title__permalink-hash">
						{{#if @root.hasNumericReferences}}
							#permalink
						{{else}}
							#{{reference}}
						{{/if}}
					</span>
				</span>-->
			</header>
			{{#if description}}
				<div class="id-kss-description">
					{{{description}}}
				</div>
			{{/if}}

		</div>

	<nav class="id-kss-nav" aria-label="Style Guide">
		{{#with (sectionMenu @root.menu referenceURI)}}
			<ul class="id-kss-nav-menu">
			  {{#each children}}
				{{> list-item}}
			  {{/each}}
			</ul>

		{{/with}}
	</nav>

	</{{#if @first}}div{{else}}section{{/if}}>
{{/unless}}