<li class="id-kss-nav-menu-item">
	{{#if ischild}}
		{{! child menu}}
		<a class="id-kss-nav-menu-link id-kss-nav-menu-child {{#if children}}id-kss-nav-menu-has-children{{/if}}" href="section-{{#if sectionreferenceURI}}{{sectionreferenceURI}}{{else}}{{referenceURI}}{{/if}}.html#kssref-{{referenceURI}}">
	{{else}}
		{{! parent}}
		<a class="id-kss-nav-menu-link id-kss-nav-menu-parent" href="section-{{#if sectionreferenceURI}}{{sectionreferenceURI}}{{else}}{{referenceURI}}{{/if}}.html#kssref-{{referenceURI}}">
	{{/if}}
			{{#if status}}
				<span class="id-kss-status id-kss-status-{{{slug status}}}">
					{{status}}
				</span>
			{{/if}}
			<span class="id-kss-nav-name">
				{{splitTitle reference depth }}
			</span>
		</a>
	{{#if children}}
		<ul class="id-kss-nav-menu-child-section">
			{{> list}}
		</ul>
	{{/if}}
</li>